{% assign id = article.metafields.banner %}
{% assign image = article.metafields.banner.image_desktop[0].src %}
{% assign mobile_image = article.metafields.banner.image_mobile[0].src %}
{% assign title = article.metafields.banner.header_text %}
{% assign title_color = article.metafields.banner.header_color %}
{% assign text_alignment = article.metafields.banner.header_position %}

<div class="image-with-text-overlay">
  <section class="section under-overlay-menu is-width-wide mobile-text--below-media">
    <div class="container image-with-text-overlay__container
                equal-columns--outside-trim">
      <div class="image-with-text-overlay__banner columns one-whole">
        <div class="image-element__wrap is-hidden-mobile-only">
          <img src="{{ article.metafields.banner.image_desktop[0].src }}"
               alt="{{ article.metafields.banner.image_desktop[0].alt }}"
               {% if inline_style %}
               style="{{ inline_style }}"
               {% endif %}
               {% if additional_classes %}
               class="{{ additional_classes }}"
               {% endif %}
               /> 
        </div>

        <div class="is-hidden-desktop-only">
          <div class="image-element__wrap hide_mobile"
               style="{{ image_background_color }}{{ height_style }}">
            <img src="{{ article.metafields.banner.image_mobile[0].src }}"
                 alt="{{ article.metafields.banner.image_mobile[0].alt }}" 
                 {% if inline_style %}
                 style="{{ inline_style }}"
                 {% endif %}
                 {% if additional_classes %}
                 class="{{ additional_classes }}"
                 {% endif %}
                 />
          </div>
        </div>

        <div class="caption text-align-{{ text_alignment }} align-middle">
          <div class="caption-content text-align-{{ text_alignment }}">

            <h2 class="image-with-text-overlay__heading banner__heading title">
              <span style="color: {{ title_color }};" >{{ article.metafields.banner.header_text }}</span>
            </h2>

          </div>
        </div>

      </div>
    </div>
  </section>
</div>