{% comment %}
Required values
label: <string>
______________
Optional values
href: <string>
type: <string>
style: <string>
class: <string>
attribute: <string>
{% endcomment %}

{% if label != blank %}
  {% if type == "link" %}
    <a {% if href != blank %}href="{{ href }}"{% endif %} class="button {{ style }} {{ class }}" {{ attribute }}
       aria-label="{% if extra_link_desc %}{{ extra_link_desc }}{% endif %} {{ label | downcase }} link">{{ label }}</a>
  {% elsif type == "label" %}
    <p class="button {{ style }} {{ class }}" {{ attribute }}>{{ label }}</p>
  {% else %}
    <button type="{{ type }}" class="button {{ style }} {{ class }}" {{ attribute }}>{{ label }}</button>
  {% endif %}
{% endif %}
