{% comment %}
Required values
label: <string>
______________
Optional values
href: <string>
type: <string>
style: <string>
class: <string>
attribute: <string>
{% endcomment %}

{% if label != blank %}
  {% if type == "link" %}
    {% if href != blank %}
      <a href="{{ href }}" class="button {{ style }} {{ class }}" {{ attribute }}>{{ label }}</a>
    {% endif %}
  {% elsif type == "label" %}
    <p class="button {{ style }} {{ class }}" {{ attribute }}>{{ label }}</p>
  {% else %}
    <button type="{{ type }}" class="button {{ style }} {{ class }}" {{ attribute }}>{{ label }}</button>
  {% endif %}
{% endif %}
