<div class="size-chart" id="size-chart{{ product.id }}">
  <div class="size-chart-wrap content container {% if settings.table_styles_enabled %} table is-striped is-bordered {% endif %}">
    <div class="one-whole column">
      {% assign product_tags = product.tags | join: ' ' %}
      {% if product_tags contains 'meta-size-chart-' %}
        {% for tag in product.tags %}
          {% if tag contains 'meta-size-chart-' %}
            {% assign size_chart = tag | handle | remove: 'meta-size-chart-' %}
            <h5 class="center">{{ pages[size_chart].title }}</h5>
            <div class="feature_divider"></div>
            {{ pages[size_chart].content }}
            <div class="feature_divider"></div>
            <div
              class="tfc-fitrec-product"
              data-styleid="{{ product.id }}"
              data-locale="{{ localization.language.iso_code }}_{{ localization.country.iso_code }}"
              data-userid="{{ customer.id }}"
            ></div>
          {% endif %}
        {% endfor %}
      {% elsif settings.size_chart != blank %}
        <h5 class="center">{{ pages[settings.size_chart].title }}</h5>
        <div class="feature_divider"></div>
        {{ pages[settings.size_chart].content }}
        <div class="feature_divider"></div>
          <div
            class="tfc-fitrec-product"
            data-styleid="{{ product.id }}"
            data-locale="{{ localization.language.iso_code }}_{{ localization.country.iso_code }}"
            data-userid="{{ customer.id }}"
          ></div>
      {% endif %}
    </div>
  </div>
</div>