<script
  type="text/template"
  id="wizzy-search-results-product"
  wizzy-override
>

<div
  style="display:none;"
  class="one-third medium-down--one-half small-down--one-half column thumbnail product__thumbnail product__grid-item has-padding-bottom"
  data-id="[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
  data-page="1"
>
  <div class="product-wrap">
    <div class="product-image__wrapper">
      <div class="image__container product__imageContainer">
        <a href="undefined" class="undefined"><img src="undefined" alt="undefined"></a>
      </div>
    </div>
  </div>
</div>
<div 
  class="
    one-third medium-down--one-half small-down--one-half column quick-shop--true quick-shop--closed product-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]] js-product_section swap--true [[#hoverImage]]has-secondary-image-swap[[/hoverImage]] has-thumbnail-sticker thumbnail product__thumbnail product__grid-item thumbnail__hover-overlay--false has-padding-bottom wizzy-result-product wizzy-product-[[id]]
    [[#groupId]]has-variations wizzy-group-product-[[groupId]][[/groupId]]
  "
  title="[[& name ]]"
  data-id="[[id]]"
  data-groupId="[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
  data-id="[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
  data-page="1"
>
  <div class="product-wrap">
    <div class="product-image__wrapper">
      <div class="image__container product__imageContainer">
        <a href="[[&url]]">
          <div class="sticker-holder sticker-shape-square sticker-position-left">
            <div class="sticker-holder__content sticker-holder__content--">
              [[#newArrivalTag]]
              <div class="new-sticker thumbnail-sticker sticker-"><span class="sticker-text">New</span></div>
              [[/newArrivalTag]] [[#bestSellerTag]]
              <div class="best-sellers-sticker thumbnail-sticker sticker-0">
                <span class="sticker-text">Best Seller</span>
              </div>
              [[/bestSellerTag]] [[#saleTag]]
              <div class="sale-sticker thumbnail-sticker sticker-"><span class="sticker-text">Sale</span></div>
              [[/saleTag]]
            </div>
          </div>
          [[#hoverImage]]
          <div class="image-element__wrap" style="background: none;">
            <img
              tabindex="0"
              alt="[[& name ]]"
              class="transition--color lazyautosizes lazyloaded swap--visible"
              data-src="[[ hoverImage ]]"
              data-sizes="auto"
              data-srcset=" [[ hoverImage ]] 180w 234h, [[ hoverImage ]] 360w 467h, [[ hoverImage ]] 540w 701h, [[ hoverImage ]] 720w 934h, [[ hoverImage ]] 900w 1168h, [[ hoverImage ]] 1080w 1401h, [[ hoverImage ]] 1296w 1682h, [[ hoverImage ]] 1512w 1962h, [[ hoverImage ]] 1728w 2242h, [[ hoverImage ]] 1950w 2530h, [[ hoverImage ]] 2100w 2725h, [[ hoverImage ]] 2260w 2932h, [[ hoverImage ]] 2450w 3179h, [[ hoverImage ]] 2700w 3503h, [[ hoverImage ]] 3000w 3892h, [[ hoverImage ]] 3350w 4347h, [[ hoverImage ]] 3385w 4392h,"
              srcset=" [[ hoverImage ]] 180w 234h, [[ hoverImage ]] 360w 467h, [[ hoverImage ]] 540w 701h, [[ hoverImage ]] 720w 934h, [[ hoverImage ]] 900w 1168h, [[ hoverImage ]] 1080w 1401h, [[ hoverImage ]] 1296w 1682h, [[ hoverImage ]] 1512w 1962h, [[ hoverImage ]] 1728w 2242h, [[ hoverImage ]] 1950w 2530h, [[ hoverImage ]] 2100w 2725h, [[ hoverImage ]] 2260w 2932h, [[ hoverImage ]] 2450w 3179h, [[ hoverImage ]] 2700w 3503h, [[ hoverImage ]] 3000w 3892h, [[ hoverImage ]] 3350w 4347h, [[ hoverImage ]] 3385w 4392h,"
              height="4392"
              width="3385"
              style=""
              sizes="314px"
              src="[[ hoverImage ]]"
            >
          </div>
          [[/hoverImage]]
          <div class="image-element__wrap" style="background: none;">
            <img
              tabindex="0"
              alt="[[& name ]]"
              class="transition--color lazypreload secondary lazyautosizes lazyloaded"
              data-src="[[ mainImage ]]"
              data-sizes="auto"
              data-srcset=" [[ mainImage ]] 180w 234h, [[ mainImage ]] 360w 467h, [[ mainImage ]] 540w 701h, [[ mainImage ]] 720w 934h, [[ mainImage ]] 900w 1168h, [[ mainImage ]] 1080w 1401h, [[ mainImage ]] 1296w 1682h, [[ mainImage ]] 1512w 1962h, [[ mainImage ]] 1728w 2242h, [[ mainImage ]] 1950w 2530h, [[ mainImage ]] 2100w 2725h, [[ mainImage ]] 2260w 2932h, [[ mainImage ]] 2450w 3179h, [[ mainImage ]] 2700w 3503h, [[ mainImage ]] 3000w 3892h, [[ mainImage ]] 3350w 4347h, [[ mainImage ]] 3385w 4392h,"
              srcset=" [[ mainImage ]] 180w 234h, [[ mainImage ]] 360w 467h, [[ mainImage ]] 540w 701h, [[ mainImage ]] 720w 934h, [[ mainImage ]] 900w 1168h, [[ mainImage ]] 1080w 1401h, [[ mainImage ]] 1296w 1682h, [[ mainImage ]] 1512w 1962h, [[ mainImage ]] 1728w 2242h, [[ mainImage ]] 1950w 2530h, [[ mainImage ]] 2100w 2725h, [[ mainImage ]] 2260w 2932h, [[ mainImage ]] 2450w 3179h, [[ mainImage ]] 2700w 3503h, [[ mainImage ]] 3000w 3892h, [[ mainImage ]] 3350w 4347h, [[ mainImage ]] 3385w 4392h,"
              height="4392"
              width="3385"
              style=""
              sizes="314px"
              src="[[ mainImage ]]"
            >
          </div>
        </a>
        <div class="thumbnail-overlay__container">
          <a href="[[&url]]"></a
          ><a
            class="hidden-product-link"
            href="[[&url]]"
            >[[& name ]]</a
          >

          {% comment %}
            <div class="quick-shop__buttons animated fadeInUp">
                        <span
                          class="quick_shop button action_button button--secondary js-quick-shop-link"
                          data-id="[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
                          data-handle="chain-link-bracelet-band-for-apple-watch-gold-tone"
                          data-single-variant="false"
                          data-url="[[&url]]"
                          data-title="[[& name ]]"
                          data-details-text="View full details"
                          data-full-description="
                            <p>Add a special touch of luxury to your Apple Watch¨ with this chain link replacement band.</p>
                            <p><strong>42mm (Series 10) &amp;amp; 38/40/41mm</strong></p>
                            <ul>
                            <li>Band circumference including Apple Watch<span data-mce-fragment=&quot;1&quot;>®&nbsp;</span>device: 178mm-193mm (7&quot;-7.5&quot;)</li>
                            <li>Band width: 18mm</li>
                            </ul>
                            <p><strong>42 mm (Series 1-3 only) &amp;amp; 44/45/46/49mm (Ultra &amp;amp; Ultra 2)</strong></p>
                            <ul>
                            <li>Band circumference including Apple Watch<span data-mce-fragment=&quot;1&quot;>®&nbsp;</span>device: 182mm-197mm (7-7.75&quot;)</li>
                            <li>Band width: 20mm</li>
                            </ul>
                            <p class=&quot;p1&quot;><br></p>
                          "
                          data-regular-description="
                                            Add a special touch of luxury to your Apple Watch¨ with this chain link replacement band. 42mm (Series 10) &amp;amp; 38/40/41mm Band circumference including Apple Watch®&nbsp;device:...
                          "
                          data-featured-image="//anneklein.com/cdn/shop/products/Watches_02_056_800x.jpg?v=1680878774"
                          data-images="
                                  //anneklein.com/cdn/shop/products/Watches_02_056.jpg?v=1680878774^Anne Klein  Chain Link Bracelet Band for Apple Watch®^21040113090631^3385^image


                            ~


                                  //anneklein.com/cdn/shop/products/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_front.jpg?v=1680878774^Anne Klein Gold-Tone Chain Link Bracelet Band for Apple Watch®^20747737432135^3385^image


                            ~


                                  //anneklein.com/cdn/shop/products/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_strap.jpg?v=1680879453^Anne Klein  Chain Link Bracelet Band for Apple Watch®^20747737497671^3385^image


                            ~


                                  //anneklein.com/cdn/shop/products/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_side.jpg?v=1680879453^Anne Klein  Chain Link Bracelet Band for Apple Watch®^20747737464903^3385^image
                          "
                          data-thumbnail-images="//anneklein.com/cdn/shop/products/Watches_02_056.jpg?v=1680878774^image^21040113090631^3385~//anneklein.com/cdn/shop/products/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_front.jpg?v=1680878774^image^20747737432135^3385~//anneklein.com/cdn/shop/products/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_strap.jpg?v=1680879453^image^20747737497671^3385~//anneklein.com/cdn/shop/products/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_side.jpg?v=1680879453^image^20747737464903^3385"
                          data-collection-handles="accessories,all,all-1,all-2,all-3,all-4,all-5,all-apple-products,all-products,apple-accessories,apple-watch-accessories,available,best-seller-apple-products,best-sellers,chain-game,city-print,creator-catalog,discount-eligible,end-of-summer-sale-included-collection,exclude-clearance,get-gifting,gifts-under-175,jesses-picks,orderlyemails-recommended-products,pre-spring-sale,sale-under-100,sale-under-150,spring-slurge,summer-sale,the-gift-guide,the-work-collection,top-ten-gifts,tropical-print,under-100,watches-jewelry,wizzy-best-selling"
                        >
                          Quick View
                        </span>

                        <div class="quickshop-forms__container js-quickshop-forms__container js-quickshop-forms--[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]">
                          <script>
              window.dk_tmpl_flat_widget = `
            <style>
              {{resetCSS}}
              *{
                  font-family: {{customFontName}}-apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;;
                  text-transform: initial !important;
                  letter-spacing: initial !important;
              }
              .dk-flat-plugin {
                  width: 325px;
                  max-width: 325px;
                  padding: 10px 14px 10px 14px;
                  display: flex;
                  border-radius: 2px;
                  font-family: {{customFontName}}-apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
                  flex-direction: column;
                  {{if(options.showBorder)}}
                  border: 1px solid {{fontColor}};
                  {{#else}}
                  border: none;
                  {{/if}}
              }
              .title {
                  padding-top: 10px;
                  line-height: 1.5;
                  font-weight: 400;
                  font-family: {{customFontName}}-apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
                  font-size: 12px;
              }

              .footer {
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-end;
                  padding-top: 10px;
              }

              .learn-more {
                  line-height: 1.5;
                  font-size: 10px;
                  font-weight: 500;
                  text-decoration: none;
                  font-family: {{customFontName}}-apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
                  width: fit-content;
              }

              .learn-more:active {
                  outline: 0;
              }

              .controls {
                  display: flex;
                  align-items: center;
                  margin-top: 10px;
              }

              .control-btn, .control-input {
                  {{if(options.hideOtherInput)}}
                  width: 33%;
                  height: 32px;
                  {{#else}}
                  width: 25%;
                  height: 32px;
                  {{/if}}
                  /* {{if(!options.isTransparent)}}
                  color: {{backgroundColor}};
                  background: {{fontColor}};
                  {{#else}}
                  color: {{fontColor}};
                  background: {{backgroundColor}};
                  {{/if}} */
                  color: {{fontColor}};
                  background: {{backgroundColor}};
                  border: 1px solid {{fontColor}};
                  margin-left: 4px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 12px;
                  font-weight: 500;
                  border-radius: 1px;
              }

              .control-btn {
                  cursor: pointer;
                  user-select: none;
              }

              .control-input {
                  -webkit-appearance: none !important;
                  text-align:center;
                  outline: none;
                  {{if(options.hideOtherInput)}}
                  display: none;
                  {{/if}}
              }

              .control-input::placeholder {
                  /* {{if(!options.isTransparent)}}
                  color: {{backgroundColor}};
                  {{#else}}
                  color: {{fontColor}};
                  {{/if}} */
                  color: {{fontColor}};
                  font-size: 12px;
                  font-weight: 500;
                  }
              .control-btn.active, .control-input.active, .control-input:focus {
                  {{if(!options.isTransparent)}}
                  background: {{fontColor}};
                  color: {{backgroundColor}};
                  {{#else}}
                  background: {{backgroundColor}};
                  color: {{fontColor}};
                  {{/if}}
              }

              .control-btn:first-child {
                  margin-left: 0;
              }

              .control-input {
                  margin-left: 4px;
                  width: 65px;
                  height: 32px;
                  padding: 0;
              }

              .created-by {
                  line-height: 1.5;
                  font-size: 8px;
                  padding-top: 4px;
                  display: flex;
                  font-weight: 400;
                  justify-content: center;
                  align-items: center;
                  font-family: {{customFontName}}-apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
              }

              .main-text {
                  line-height: 1;
                  font-weight: 500;
                  font-size: 14px;
                  font-family: {{customFontName}}-apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
              }

              .positioning {
                  display: flex; width: 100%; min-height: 156px; justify-content: {{contentPosition}};
              }

              {{if(options.isCenteredWidgetMobile)}}
              @media only screen and (max-width: 430px)  {
                  .positioning {
                      display: flex; width: 100%; justify-content: center;
                  }
              }
              {{/if}}
            </style>
            <div class="positioning">
              <div
                id="dk-flat-plugin-widget"
                class="dk-flat-plugin"
                style="margin-top: {{verticalIndent}}px; color: {{fontColor}}; background: {{backgroundColor}};"
              >
                <span class="main-text">{{headerText}}</span>
                <span class="title" style="color: {{fontColor}}; text-align: left!important;">{{description}}</span>
                <div class="controls">
                  <div class="control-btn" id="option-1">\{{price1}}</div>
                  <div class="control-btn" id="option-2">\{{price2}}</div>
                  <div class="control-btn" id="option-3">\{{price3}}</div>
                  <input
                    class="control-input"
                    id="option-custom"
                    placeholder="Custom"
                    inputmode="decimal"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Custom'"
                  />
                </div>
                <div style="flex: 1"></div>
                <div class="footer">
                  <span class="created-by" style="color: {{fontColor}};"
                    >powered by
                    <svg
                      aria-label="DailyKarma"
                      xmlns="http://www.w3.org/2000/svg"
                      style="width: 61px; position: relative; top: 1px; padding-left: 5px; color: {{fontColor}};"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      version="1.1"
                      viewBox="-10 0 4656 1024"
                    >
                      <g transform="matrix(1 0 0 -1 0 960)"><path fill="currentColor" d="{{dkLogo}}" /></g></svg
                  ></span>

                  <a
                    href="javascript:void(0)"
                    class="learn-more"
                    id="dk-flat-learn-more"
                    style="text-decoration: underline; color: {{fontColor}};"
                  >
                    Learn about causes
                  </a>

                  <a
                    href="javascript:void(0)"
                    class="learn-more"
                    id="dk-flat-add"
                    style="display: none; opacity: 0; color: {{fontColor}}; {{if(options.hideOtherInput)}}display: none;{{/if}}"
                    >Add amount</a
                  >
                </div>
              </div>

              <div
                id="dk-flat-plugin-widget-hidden"
                class="dk-flat-plugin"
                style="margin-top: {{verticalIndent}}px; text-align: center; color: {{fontColor}}; background: {{backgroundColor}}; justify-content: center; display: none; position: relative;"
              >
                <span class="title" style="margin-top: 0; padding-top: 0; color: {{fontColor}}; font-size: 14px; font-weight: 500;"
                  >Thank you for adding a donation.</span
                >
                <span style="line-height: 1; padding-top: 10px; font-weight: 400; font-size: 12px">
                  In a giving mood?
                  <a
                    href="javascript:void(0)"
                    class="learn-more"
                    id="dk-flat-learn-more-added"
                    style="font-size: 12px; font-weight: 500; padding-left: 3px; text-decoration: underline; color: {{fontColor}};"
                  >
                    Adjust amount
                  </a>
                </span>

                <div style="position: absolute; bottom: 10px; left: 14px">
                  <span class="created-by" style="color: {{fontColor}};"
                    >powered by
                    <svg
                      aria-label="DailyKarma"
                      xmlns="http://www.w3.org/2000/svg"
                      style="width: 77px; position: relative; top: 1px; padding-left: 5px; color: {{fontColor}};"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      version="1.1"
                      viewBox="-10 0 4656 1024"
                    >
                      <g transform="matrix(1 0 0 -1 0 960)"><path fill="currentColor" d="{{dkLogo}}" /></g></svg
                  ></span>
                </div>
              </div>
            </div>


            `;
                          </script>

                          <div
                            class="clearfix product_form init smart-payment-button--false product_form_options product_form--swatches"
                            id="product-form-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
                            data-product-form=""
                            data-money-format="${{amount}}"
                            data-shop-currency="USD"
                            data-select-id="product-select-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
                            data-enable-state="true"
                            data-product="{&quot;id&quot;:[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]],&quot;title&quot;:&quot;Chain Link Bracelet Band for Apple Watch®&quot;,&quot;handle&quot;:&quot;chain-link-bracelet-band-for-apple-watch-gold-tone&quot;,&quot;description&quot;:&quot;\u003cp\u003eAdd a special touch of luxury to your Apple Watch¨ with this chain link replacement band.\u003c\/p\u003e\n\u003cp\u003e\u003cstrong\u003e42mm (Series 10) \u0026amp; 38\/40\/41mm\u003c\/strong\u003e\u003c\/p\u003e\n\u003cul\u003e\n\u003cli\u003eBand circumference including Apple Watch\u003cspan data-mce-fragment=\&quot;1\&quot;\u003e®&nbsp;\u003c\/span\u003edevice: 178mm-193mm (7\&quot;-7.5\&quot;)\u003c\/li\u003e\n\u003cli\u003eBand width: 18mm\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cp\u003e\u003cstrong\u003e42 mm (Series 1-3 only) \u0026amp; 44\/45\/46\/49mm (Ultra \u0026amp; Ultra 2)\u003c\/strong\u003e\u003c\/p\u003e\n\u003cul\u003e\n\u003cli\u003eBand circumference including Apple Watch\u003cspan data-mce-fragment=\&quot;1\&quot;\u003e®&nbsp;\u003c\/span\u003edevice: 182mm-197mm (7-7.75\&quot;)\u003c\/li\u003e\n\u003cli\u003eBand width: 20mm\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cp class=\&quot;p1\&quot;\u003e\u003cbr\u003e\u003c\/p\u003e&quot;,&quot;published_at&quot;:&quot;2021-11-15T15:51:25-05:00&quot;,&quot;created_at&quot;:&quot;2021-11-02T16:58:20-04:00&quot;,&quot;vendor&quot;:&quot;Sol Light&quot;,&quot;type&quot;:&quot;Watch Bands&quot;,&quot;tags&quot;:[&quot;ACCENT20&quot;,&quot;Accessories&quot;,&quot;Apple&quot;,&quot;Apple Watch¨ Accessories&quot;,&quot;Apple Watch® Accessories&quot;,&quot;Best Seller&quot;,&quot;Best Sellers&quot;,&quot;bis&quot;,&quot;bis-show&quot;,&quot;chain-game&quot;,&quot;city&quot;,&quot;content&quot;,&quot;discount-eligible&quot;,&quot;FLASH&quot;,&quot;get-gifting&quot;,&quot;Gold&quot;,&quot;holiday-jebbit&quot;,&quot;jebbit&quot;,&quot;jebbit-work&quot;,&quot;Jesses&quot;,&quot;Low stock&quot;,&quot;Metal&quot;,&quot;Metal \u0026 Mesh&quot;,&quot;Metals&quot;,&quot;Overflow&quot;,&quot;pdp-message&quot;,&quot;PRESPRINGSALE&quot;,&quot;reportingvendor:Sol-light LLC&quot;,&quot;runs-large&quot;,&quot;sale50&quot;,&quot;style:WK\/1016&quot;,&quot;Tech&quot;,&quot;top-ten&quot;,&quot;tropical&quot;,&quot;under-100&quot;,&quot;Watch Bands&quot;,&quot;watches-jewelry&quot;,&quot;YGroup_Chain_Link_Bracelet_Band_for_Apple_Watch&quot;],&quot;price&quot;:6500,&quot;price_min&quot;:6500,&quot;price_max&quot;:6500,&quot;available&quot;:true,&quot;price_varies&quot;:false,&quot;compare_at_price&quot;:0,&quot;compare_at_price_min&quot;:0,&quot;compare_at_price_max&quot;:0,&quot;compare_at_price_varies&quot;:false,&quot;variants&quot;:[{&quot;id&quot;:[[id]],&quot;title&quot;:&quot;Gold-Tone \/ 42mm (Series 10) \u0026 38\/40\/41mm&quot;,&quot;option1&quot;:&quot;Gold-Tone&quot;,&quot;option2&quot;:&quot;42mm (Series 10) \u0026 38\/40\/41mm&quot;,&quot;option3&quot;:null,&quot;sku&quot;:&quot;WK\/1016GPGP&quot;,&quot;requires_shipping&quot;:true,&quot;taxable&quot;:true,&quot;featured_image&quot;:{&quot;id&quot;:28439563567175,&quot;product_id&quot;:6604743901255,&quot;position&quot;:2,&quot;created_at&quot;:&quot;2021-11-04T11:21:10-04:00&quot;,&quot;updated_at&quot;:&quot;2023-04-07T10:46:14-04:00&quot;,&quot;alt&quot;:&quot;Anne Klein Gold-Tone Chain Link Bracelet Band for Apple Watch®&quot;,&quot;width&quot;:3385,&quot;height&quot;:4392,&quot;src&quot;:&quot;\/\/anneklein.com\/cdn\/shop\/products\/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_front.jpg?v=1680878774&quot;,&quot;variant_ids&quot;:[39519784828999,40311033135175]},&quot;available&quot;:true,&quot;name&quot;:&quot;Chain Link Bracelet Band for Apple Watch® - Gold-Tone \/ 42mm (Series 10) \u0026 38\/40\/41mm&quot;,&quot;public_title&quot;:&quot;Gold-Tone \/ 42mm (Series 10) \u0026 38\/40\/41mm&quot;,&quot;options&quot;:[&quot;Gold-Tone&quot;,&quot;42mm (Series 10) \u0026 38\/40\/41mm&quot;],&quot;price&quot;:6500,&quot;weight&quot;:0,&quot;compare_at_price&quot;:0,&quot;inventory_management&quot;:&quot;shopify&quot;,&quot;barcode&quot;:&quot;810085330493&quot;,&quot;featured_media&quot;:{&quot;alt&quot;:&quot;Anne Klein Gold-Tone Chain Link Bracelet Band for Apple Watch®&quot;,&quot;id&quot;:20747737432135,&quot;position&quot;:2,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:0.771,&quot;height&quot;:4392,&quot;width&quot;:3385,&quot;src&quot;:&quot;\/\/anneklein.com\/cdn\/shop\/products\/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_front.jpg?v=1680878774&quot;}},&quot;requires_selling_plan&quot;:false,&quot;selling_plan_allocations&quot;:[],&quot;quantity_rule&quot;:{&quot;min&quot;:1,&quot;max&quot;:null,&quot;increment&quot;:1}},{&quot;id&quot;:40311033135175,&quot;title&quot;:&quot;Gold-Tone \/ 42mm (Series 1-3 Only)\u0026 44\/45\/46\/49mm (Ultra \u0026 Ultra 2)&quot;,&quot;option1&quot;:&quot;Gold-Tone&quot;,&quot;option2&quot;:&quot;42mm (Series 1-3 Only)\u0026 44\/45\/46\/49mm (Ultra \u0026 Ultra 2)&quot;,&quot;option3&quot;:null,&quot;sku&quot;:&quot;WK\/1017GPGP&quot;,&quot;requires_shipping&quot;:true,&quot;taxable&quot;:true,&quot;featured_image&quot;:{&quot;id&quot;:28439563567175,&quot;product_id&quot;:6604743901255,&quot;position&quot;:2,&quot;created_at&quot;:&quot;2021-11-04T11:21:10-04:00&quot;,&quot;updated_at&quot;:&quot;2023-04-07T10:46:14-04:00&quot;,&quot;alt&quot;:&quot;Anne Klein Gold-Tone Chain Link Bracelet Band for Apple Watch®&quot;,&quot;width&quot;:3385,&quot;height&quot;:4392,&quot;src&quot;:&quot;\/\/anneklein.com\/cdn\/shop\/products\/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_front.jpg?v=1680878774&quot;,&quot;variant_ids&quot;:[39519784828999,40311033135175]},&quot;available&quot;:true,&quot;name&quot;:&quot;Chain Link Bracelet Band for Apple Watch® - Gold-Tone \/ 42mm (Series 1-3 Only)\u0026 44\/45\/46\/49mm (Ultra \u0026 Ultra 2)&quot;,&quot;public_title&quot;:&quot;Gold-Tone \/ 42mm (Series 1-3 Only)\u0026 44\/45\/46\/49mm (Ultra \u0026 Ultra 2)&quot;,&quot;options&quot;:[&quot;Gold-Tone&quot;,&quot;42mm (Series 1-3 Only)\u0026 44\/45\/46\/49mm (Ultra \u0026 Ultra 2)&quot;],&quot;price&quot;:6500,&quot;weight&quot;:0,&quot;compare_at_price&quot;:0,&quot;inventory_management&quot;:&quot;shopify&quot;,&quot;barcode&quot;:&quot;810085330516&quot;,&quot;featured_media&quot;:{&quot;alt&quot;:&quot;Anne Klein Gold-Tone Chain Link Bracelet Band for Apple Watch®&quot;,&quot;id&quot;:20747737432135,&quot;position&quot;:2,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:0.771,&quot;height&quot;:4392,&quot;width&quot;:3385,&quot;src&quot;:&quot;\/\/anneklein.com\/cdn\/shop\/products\/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_front.jpg?v=1680878774&quot;}},&quot;requires_selling_plan&quot;:false,&quot;selling_plan_allocations&quot;:[],&quot;quantity_rule&quot;:{&quot;min&quot;:1,&quot;max&quot;:null,&quot;increment&quot;:1}}],&quot;images&quot;:[&quot;\/\/anneklein.com\/cdn\/shop\/products\/Watches_02_056.jpg?v=1680878774&quot;,&quot;\/\/anneklein.com\/cdn\/shop\/products\/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_front.jpg?v=1680878774&quot;,&quot;\/\/anneklein.com\/cdn\/shop\/products\/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_strap.jpg?v=1680879453&quot;,&quot;\/\/anneklein.com\/cdn\/shop\/products\/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_side.jpg?v=1680879453&quot;],&quot;featured_image&quot;:&quot;\/\/anneklein.com\/cdn\/shop\/products\/Watches_02_056.jpg?v=1680878774&quot;,&quot;options&quot;:[&quot;Color&quot;,&quot;Size&quot;],&quot;media&quot;:[{&quot;alt&quot;:&quot;Anne Klein  Chain Link Bracelet Band for Apple Watch®&quot;,&quot;id&quot;:21040113090631,&quot;position&quot;:1,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:0.771,&quot;height&quot;:4392,&quot;width&quot;:3385,&quot;src&quot;:&quot;\/\/anneklein.com\/cdn\/shop\/products\/Watches_02_056.jpg?v=1680878774&quot;},&quot;aspect_ratio&quot;:0.771,&quot;height&quot;:4392,&quot;media_type&quot;:&quot;image&quot;,&quot;src&quot;:&quot;\/\/anneklein.com\/cdn\/shop\/products\/Watches_02_056.jpg?v=1680878774&quot;,&quot;width&quot;:3385},{&quot;alt&quot;:&quot;Anne Klein Gold-Tone Chain Link Bracelet Band for Apple Watch®&quot;,&quot;id&quot;:20747737432135,&quot;position&quot;:2,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:0.771,&quot;height&quot;:4392,&quot;width&quot;:3385,&quot;src&quot;:&quot;\/\/anneklein.com\/cdn\/shop\/products\/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_front.jpg?v=1680878774&quot;},&quot;aspect_ratio&quot;:0.771,&quot;height&quot;:4392,&quot;media_type&quot;:&quot;image&quot;,&quot;src&quot;:&quot;\/\/anneklein.com\/cdn\/shop\/products\/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_front.jpg?v=1680878774&quot;,&quot;width&quot;:3385},{&quot;alt&quot;:&quot;Anne Klein  Chain Link Bracelet Band for Apple Watch®&quot;,&quot;id&quot;:20747737497671,&quot;position&quot;:3,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:0.771,&quot;height&quot;:4392,&quot;width&quot;:3385,&quot;src&quot;:&quot;\/\/anneklein.com\/cdn\/shop\/products\/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_strap.jpg?v=1680879453&quot;},&quot;aspect_ratio&quot;:0.771,&quot;height&quot;:4392,&quot;media_type&quot;:&quot;image&quot;,&quot;src&quot;:&quot;\/\/anneklein.com\/cdn\/shop\/products\/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_strap.jpg?v=1680879453&quot;,&quot;width&quot;:3385},{&quot;alt&quot;:&quot;Anne Klein  Chain Link Bracelet Band for Apple Watch®&quot;,&quot;id&quot;:20747737464903,&quot;position&quot;:4,&quot;preview_image&quot;:{&quot;aspect_ratio&quot;:0.771,&quot;height&quot;:4392,&quot;width&quot;:3385,&quot;src&quot;:&quot;\/\/anneklein.com\/cdn\/shop\/products\/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_side.jpg?v=1680879453&quot;},&quot;aspect_ratio&quot;:0.771,&quot;height&quot;:4392,&quot;media_type&quot;:&quot;image&quot;,&quot;src&quot;:&quot;\/\/anneklein.com\/cdn\/shop\/products\/chain-link-bracelet-band-for-apple-watch-gold-tone_WK-1016GPGP_side.jpg?v=1680879453&quot;,&quot;width&quot;:3385}],&quot;requires_selling_plan&quot;:false,&quot;selling_plan_groups&quot;:[],&quot;content&quot;:&quot;\u003cp\u003eAdd a special touch of luxury to your Apple Watch¨ with this chain link replacement band.\u003c\/p\u003e\n\u003cp\u003e\u003cstrong\u003e42mm (Series 10) \u0026amp; 38\/40\/41mm\u003c\/strong\u003e\u003c\/p\u003e\n\u003cul\u003e\n\u003cli\u003eBand circumference including Apple Watch\u003cspan data-mce-fragment=\&quot;1\&quot;\u003e®&nbsp;\u003c\/span\u003edevice: 178mm-193mm (7\&quot;-7.5\&quot;)\u003c\/li\u003e\n\u003cli\u003eBand width: 18mm\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cp\u003e\u003cstrong\u003e42 mm (Series 1-3 only) \u0026amp; 44\/45\/46\/49mm (Ultra \u0026amp; Ultra 2)\u003c\/strong\u003e\u003c\/p\u003e\n\u003cul\u003e\n\u003cli\u003eBand circumference including Apple Watch\u003cspan data-mce-fragment=\&quot;1\&quot;\u003e®&nbsp;\u003c\/span\u003edevice: 182mm-197mm (7-7.75\&quot;)\u003c\/li\u003e\n\u003cli\u003eBand width: 20mm\u003c\/li\u003e\n\u003c\/ul\u003e\n\u003cp class=\&quot;p1\&quot;\u003e\u003cbr\u003e\u003c\/p\u003e&quot;}"
                            data-variant-inventory="[{&quot;id&quot;:[[id]],&quot;inventory_quantity&quot;:247,&quot;inventory_management&quot;:&quot;shopify&quot;,&quot;inventory_policy&quot;:&quot;deny&quot;},{&quot;id&quot;:40311033135175,&quot;inventory_quantity&quot;:250,&quot;inventory_management&quot;:&quot;shopify&quot;,&quot;inventory_policy&quot;:&quot;deny&quot;}]"
                            data-product-id="[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
                          >
                            <form
                              method="post"
                              action="/cart/add"
                              id="product_form_[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
                              accept-charset="UTF-8"
                              class="shopify-product-form"
                              enctype="multipart/form-data"
                            >
                              <input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">

                              <input type="hidden" name="id" value="[[id]]">

                              <div class="purchase-details ">
                                <div class="cart-warning"></div>
                                <div class="purchase-details__buttons purchase-details__spb--false">
                                  <!-- Extend -- Add offer element -->
                                  <div id="extend-offer"></div>
                                  <!-- Extend -- End Extend code -->

                                  <p class="items_left"></p>

                                  <button
                                    type="button"
                                    name="add"
                                    class="button  ajax-submit action_button button--add-to-cart "
                                    data-label="Add to cart"
                                    data-add-to-cart-trigger=""
                                    variant-id="[[id]]"
                                    data-id="[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
                                  >
                                    <span class="text">Add to cart</span>

                                    <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
                                      <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
                                    </svg>
                                  </button>

                                  <button
                                    id="BIS_trigger"
                                    class="button button--notify"
                                    style="margin-top: 15px; background-color: black; color: #f3ece6; display: none;"
                                  >
                                    Notify me
                                  </button>
                                </div>
                              </div>

                              <div class="dk-flat-static"></div>

                              <input type="hidden" name="product-id" value="[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]">
                            </form>
                          </div>
                        </div>
                      </div>
          {% endcomment %}
        </div>
      </div>
    </div>
    <div class="thumbnail__caption text-align-left">
      <div class="product-thumbnail">
        <a
          href="[[&url]]"
          class="product-thumbnail__title"
          >[[& name ]]
        </a>
        <span class="product-thumbnail__price price ">
          <span class="money">[[#priceWithCurrency]][[ sellingPrice ]][[/priceWithCurrency]]</span>
          [[#discountPercentage]]
          <span class="product-item-original-price"> [[#priceWithCurrency]][[ price ]][[/priceWithCurrency]] </span>
          [[/discountPercentage]]
        </span>
      </div>
    </div>
  </div>
  
  [[#hasMoreColor]]
  <a href="[[&url]]" class="more_color">+More Colors</a>
  [[/hasMoreColor]]
  <span></span>
   [[#discountPercentage]]
  {% comment %}
  <p style="color: #ba2829;font-family: Avenir Next,Helvetica,sans-serif; font-size: 12px; font-weight: 500; letter-spacing: 0.5px; padding-top: 2px;">ADDITIONAL SAVINGS APPLIED AT CHECKOUT</p>
  {% endcomment %}
   [[/discountPercentage]]
</div>
</script>
