{% comment %}
** Registration template - main content area **
{% endcomment %}

{% assign id = section.id %}
{% comment %}Layout{% endcomment %}
{% assign width = section.settings.width %}
{% assign padding_top = section.settings.padding_top %}
{% assign padding_bottom = section.settings.padding_bottom %}
{% comment %}Advanced{% endcomment %}
{% assign css_class = section.settings.css_class %}
{% assign custom_css = section.settings.custom_css %}

{% style %}

  .section__wrapper {
    padding-top: {{ padding_top }}px;
    padding-bottom: {{ padding_bottom }}px;
  }

  {% include 'css-loop', css: custom_css, id: id %}
{% endstyle %}

<section class="section section__wrapper is-width-{{ width }} {{ css_class }}">

  <header class="container">
    {%- capture title -%}{{ 'customer.register.title' | t }}{%- endcapture -%}
    {% include 'heading', title: "Login or Create Account", heading_tag: 'h3', context: 'register', text_alignment: 'center' %}
  
  <div class="is-flex is-justify-center is-align-center one-half medium-down--one-whole btn-account-wrapper"> 
    <a href="/account/login" class="button button--secondary btn-account" type="submit" value="Login" style="{% if title contains 'Login'%}border-color:#000000;{% else %}border-color:#dbdbdb;{% endif %}">Login</a>
    <a href="/account/register" class="button button--secondary btn-account" type="submit" value="Create Account" style="{% if title contains 'Create Account' %}border-color:#000000;{% else %}border-color:#dbdbdb;{% endif %}">Create Account</a>
  </div>
    <div class="one-whole">
      <div class="is-justify-center is-align-center one-half medium-down--one-whole btn-account-wrapper"> 
        <a href="/pages/loyalty-rewards"><img src="https://cdn.shopify.com/s/files/1/0274/7331/3863/files/Loyalty_Banner_Desktop.jpg?v=1627067169" class="desktop_only loyalty-banner"></a>
        <a href="/pages/loyalty-rewards"><img src="https://cdn.shopify.com/s/files/1/0274/7331/3863/files/Loyalty_Banner_Mobile.jpg?v=1627066197" class="mobile_only loyalty-banner"></a>
      </div>
    </div>
  </header>

  <div class="container is-justify-center">
    <div class="register one-half medium-down--one-whole column has-padding-bottom">
      <div id="customer" class="register__form">

        <!-- Create Customer -->
        <div id="create-customer">

          {% if section.settings.richtext != blank %}
            <div class="login__text has-padding-bottom">
              {{ section.settings.richtext }}
            </div>
          {% endif %}

          {% form 'create_customer' %}

            {{ form.errors | default_errors }}

            <input type="hidden" name="contact[tags]" value="newsletter">
            

          
            <div id="first_name" class="field">
              <label class="label" for="{{ label | replace: ' ', '_' }}">{{ 'customer.register.first_name' | t }}</label>
              <div class="control">
                <input type="text" value="" name="customer[first_name]" id="first_name" class="input" size="30" placeholder="{{ 'customer.register.first_name' | t }}" />
              </div>
            </div>

            <div id="last_name" class="field">
              <label class="label" for="{{ label | replace: ' ', '_' }}">{{ 'customer.register.last_name' | t }}</label>
              <div class="control">
                <input type="text" value="" name="customer[last_name]" id="last_name" class="input" size="30" placeholder="{{ 'customer.register.last_name' | t }}" />
              </div>
            </div>

            <div id="email" class="field">
              <label class="label" for="{{ label | replace: ' ', '_' }}">{{ 'customer.register.email' | t }} <span class="required">*</span></label>
              <div class="control">
                <input type="email" value="" name="customer[email]" id="email" class="input" required size="30" placeholder="{{ 'customer.register.email' | t }}" />
              </div>
            </div>

            <div id="password" class="field">
              <label class="label" for="{{ label | replace: ' ', '_' }}">{{ 'customer.register.password' | t }} <span class="required">*</span></label>
              <div class="control">
                <input type="password" value="" name="customer[password]" id="password" class="input" required size="30" placeholder="{{ 'customer.register.password' | t }}" />
              </div>
            </div>

          <div class="field">
            <input type="checkbox" id="accepts_marketing" name="customer[accepts_marketing]" value="true">
            <label for="accepts_marketing">I would like to receive Anne Klein’s marketing emails to be the first one to know about new arrivals, sales, exclusive content and more!</label><br>
          </div>
          
          <div class="field">
            <p class="register_links">By clicking "Submit", you agree to the Anne Klein <a href="#register_terms" class="register_terms" >Terms & Conditions</a> and <a href="#register_privacy" class="register_privacy" >Privacy Policy.</a></p>
          </div>
            <div class="is-flex is-justify-space-between is-align-center">
              <input class="button button--secondary" type="submit" value="Submit" />
              <p class="has-margin-left"><span class="required">*</span> Required field</p>
            </div>

<!--             <p class="has-padding-top">
              {{ 'customer.register.returning_customer_label' | t }} <a href="{{ routes.account_login_url }}" class="hoverButton text-underline">{{ 'customer.register.sign_in_html' | t }}</a>
            </p> -->
          {% endform %}
        </div><!-- /#create-customer -->
      </div>
    </div>

    {% if section.settings.image %}
    <div class="register__image one-half medium-down--one-whole column is-order-aligned-{{ section.settings.image_position }}">
      {% if section.settings.image %}
        {% include 'image-element', image: section.settings.image, alt: section.settings.image.alt %}
      {% endif %}
    </div>
    {% endif %}
    
  </div>
</section>

<div id="register_terms" class="mfp-hide">
{{ pages.terms-conditions.content }}
</div>

<div id="register_privacy" class="mfp-hide">
{{ pages.privacy-policy.content }}
</div>

{% schema %}
  {
    "name": "Register",
    "class": "register-section",
    "settings": [
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "standard",
        "options": [
          {
            "value": "standard",
            "label": "Standard"
          },
          {
            "value": "wide",
            "label": "Wide"
          }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Top spacing",
        "min": 0,
        "max": 80,
        "default": 40,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom spacing",
        "min": 0,
        "max": 80,
        "default": 40,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Advanced"
      },
      {
        "type": "paragraph",
        "content": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
      },
      {
        "type": "text",
        "id": "css_class",
        "label": "CSS Class"
      },
      {
        "type": "textarea",
        "id": "custom_css",
        "label": "Custom CSS"
      }
    ]
  }
{% endschema %}


<script>
$(document).ready(function() { 
  $('.register_terms').magnificPopup({
    type:'inline',
    midClick: true
  }); 

  $('.register_privacy').magnificPopup({
    type:'inline',
    midClick: true
  }); 
});
</script>